# Stripe API Keys
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Email configuration for password reset
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# Database
DATABASE_URL=database.sqlite
